@page
@model EstoqueAPI.Pages.IndexModel
@{
    ViewData["Title"] = "Gerenciamento de Estoque";
}
<head>
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
<div class="container">
  <h1 class="titulo">Gerenciamento de Estoque</h1>

  <div id="errorMessage" class="mensagem-erro" style="display:none;"></div>
  <div id="RightMessage" class="mensagem-certo" style="display:none;"></div>

  <form id="estoqueForm">
    <div class="formulario">
      <input type="text" id="produtoNome" class="input" placeholder="Nome do Produto" />
      <input type="number" id="produtoQuantidade" class="input" placeholder="Quantidade" />
      <input type="number" step="0.01" id="produtoValor" class="input" placeholder="Valor" />

      <div class="botoes">
        <button type="button" onclick="adicionarProduto()" class="btn btn-verde">Adicionar</button>
        <button type="button" onclick="atualizarProduto()" class="btn btn-amarelo">Atualizar</button>
      </div>
    </div>
  </form>

  <div class="estoque-lista">
    <h2 class="subtitulo">Estoque Atual</h2>
    <table id="estoqueTabela" class="tabela">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Valor</th>
          <th>Remover</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
         @foreach (var produto in Model.Produtos)
                {
                    <tr>
                        <td>@produto.Nome</td>
                        <td>@produto.Quantidade</td>
                        <td>@produto.Valor</td>
                        <td>
                            <button onclick="editarProduto(@produto.Id)">Editar</button>
                            <button onclick="removerProduto(@produto.Id)">Remover</button>
                        </td>
                    </tr>
                }
            </tbody>
      </tbody>
    </table>
  </div>
<script src="~/script.js"></script>
</div>
</body>



